<script>
    const body = document.querySelector('div#main-body')

    body.addEventListener('click', event => {
        
        if (event.target.matches('tr.course td')) {
            const tr = event.target.closest('tr.course')

            window.location.replace(`http://127.0.0.1:3000/courses/${tr.id}`)
        }
    })
</script>
<% @courses.each do |course| %>
    <tr class="course" id=<%= course.id %>>
        <td><%= course.course_code %></td>
        <td><%= course.title %></td>
        <td><%= course.checkIfBlank("professor_names", true)%></td>
        <td><%= course.cleanOneStat("gut_index") %></td>
        <td><%= course.classifyGut %></td>
        <td><%= course.cleanOneStat("gut_percentile", true) %></td>
        <td><%= course.cleanOneStat("gut_percentile_subject", true)%></td>
        <td><%= course.cleanOneStat("average_rating") %></td>
        <td><%= course.cleanOneStat("average_professor") %></td>
        <td><%= course.classifyProf %></td>
        <td><%= course.cleanOneStat("professor_percentile", true) %></td>
        <td><%= course.cleanOneStat("professor_percentile_subject", true) %></td>
        <td><%= course.cleanOneStat("average_workload") %></td>
        <td><%= course.classifyWork %></td>
        <td><%= course.cleanOneStat("workload_percentile", true) %></td>
        <td><%= course.cleanOneStat("workload_percentile_subject", true) %></td>
        <td><%= course.cleanOneStat("last_enrollment")%></td>


        <td><%= course.combineSkillsAndAreas %></td>

    </tr>

<% end %>
