
<% @courses.each do |course| %>
    <tr>
        <td><%= course.course_code %></td>
        <td><%= course.title %></td>
        <td><%= course.professor_names%></td>
        <td><%= course.gut_index %></td>
        <td><%= course.course_code %></td>
        <td><%= course.gut_percentile %></td>
        <td><%= course.title %></td>
        <td><%= course.title %></td>
        <td><%= course.title %></td>

    </tr>

<% end %>
