<script>
    const labels = document.querySelector('thead#table-head')
    const titleContainer = document.querySelector('div#title-container')


    const title = document.querySelector('h1#table-title')

        const button = document.createElement('a')

    button.innerHTML = '<a class="btn-primary btn btn-sm ms-2 mb-1 me-3" type="button" href="/courses/season/<%= @course.season_code%>">Back to Catalog</a>'

    title.textContent = ''

    title.dataset.id = '<%= @course.season_code%>'

    title.append(button)

    title.append('<%= @course.title %>' + " (<%= Course.season_to_str(@course.season_code)%>)")

    const searchForm = document.querySelector('form#searchForm')
    const dropdown = document.querySelector('div.dropdown')




    dropdown.remove()
    searchForm.remove()
    labels.remove()

</script>

<div class="m-auto row">
    <div class="px-0 mt-0 mb-3 col-md-5">
        <div class="mx-auto row">
            <div><%= @course.description %><wbr></div>
        </div>
        <div class="m-auto py-2 mt-3 row">
            <div class="card">
                
                <div class="card-body" id="back-btn-container">
                    <h5 class="card-title"><%= @course.course_code %> Stats<span class="pe-2 mt-2" style="float: right; font-size: .85rem"> Overall Rating: <%= @course.cleanOneStat("average_rating") %></span></h5>
                    <hr class="mt-1">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                Gut Index
                            </div>
                            <div class="col">
                                Prof Rating
                            </div>
                            <div class="col">
                                Work Rating
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <% if String(@course.cleanOneStat("gut_index")) != "N/A" %>
                                    <%= String(@course.cleanOneStat("gut_index")) + "%" %>
                                <% else %>
                                    <%= @course.cleanOneStat("gut_index") %>
                                <% end %>

                            </div>
                            <div class="col">
                                <%= @course.cleanOneStat("average_professor") %>
                            </div>
                            <div class="col">
                                <%= @course.cleanOneStat("average_workload") %>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                Gut Rank
                            </div>
                            <div class="col">
                                Prof Rank
                            </div>
                            <div class="col">
                                Work Rank
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <%= @course.cleanOneStat("gut_percentile", true) %>
                            </div>
                            <div class="col">
                                <%= @course.cleanOneStat("professor_percentile", true) %>
                            </div>
                            <div class="col">
                                <%= @course.cleanOneStat("workload_percentile", true) %>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                Gut Sub Rank
                            </div>
                            <div class="col">
                                Prof Sub Rank
                            </div>
                            <div class="col">
                                Work Sub Rank
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <%= @course.cleanOneStat("gut_percentile_subject", true) %>
                            </div>
                            <div class="col">
                                <%= @course.cleanOneStat("professor_percentile_subject", true) %>
                            </div>
                            <div class="col">
                                <%= @course.cleanOneStat("workload_percentile_subject", true) %>
                            </div>
                        </div>
                    </div>
                
                    
                </div>
            </div>
        </div>
        <div class="m-auto pt-4 pb-2 row">
            <div class="px-0 col-sm-2 col-2"><span>Syllabus</span></div>
            <% if @course.syllabus_url == nil %>
                <div class="col-sm-4 col-4"><span>N/A</span></div>
            <% else %>
                <div class="col-sm-4 col-4">
                    <a target="_blank" rel="noopener noreferrer" href="<%= @course.syllabus_url %>" class="d-flex">
                    View Syllabus
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20" class="ml-1 my-auto" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
                        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
                        </svg>
                    </a>
                </div>
            <% end %>
            <div class="px-0 col-sm-2 col-2"><span>Location</span></div>
            <div class="col-sm-2 col-2"><%= @course.checkIfBlank("locations_summary", true) %></div>

        </div>
        <div class="m-auto py-2 row">
            <div class="px-0 col-sm-2 col-2"><span>Professor</span></div>
            <div class="col-sm-4 col-4"><span><%= @course.checkIfBlank("professor_names", true) %></span></div>
            <div class="px-0 col-sm-2 col-2"><span>Meets</span></div>
            <div class="col-sm-4 col-4"><%= @course.checkIfBlank("times_summary", true) %></div>
        </div>
        <div class="m-auto py-2 row">
            <div class="px-0 col-sm-2 col-2"><span class="align-middle">Credits</span></div>
            <div class="col-sm-4 col-4"><span class="align-middle"><%= @course.checkIfBlank("credits") %></span></div>
            <div class="px-0 col-sm-2 col-2"><span>Enrollment</span></div>
            <div class="col-sm-4 col-4"><%= @course.checkIfBlank("last_enrollment") %></div>
        </div>
    
        <div class="m-auto py-2 row">
            
        </div>
    </div>
    <div class="px-0 my-0 col-md-7 justify-content-center">
        <div class="m-auto pt-4 pb-1 justify-content-end row">
            <div class="px-0 me-3 text-center col-10" style="flex: 0 0 auto;">
                <h5><%= Course.season_to_str(@course.season_code) + " Stats" %></h5>
                <hr>
            </div>
        </div>
        <div class="m-auto pb-1 justify-content-center row">
            <div class="d-flex justify-content-center px-0 mr-3 col-5"><span>Attribute</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Mean</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Median</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-2"><span>Standard Deviation</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Mode</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Range</span></div>
        </div>
        <div class="m-auto py-1 justify-content-center row">
            <div class="px-0 mr-3 text-center col-5" style="flex: 0 0 auto;">
                <strong>Gut Index</strong>
                <div class="mx-auto">Section <%= @course.checkIfBlank("section") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("gut_index_mean") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("gut_index_median") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-2">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("gut_index_standard_deviation") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("gut_index_mode") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("gut_index_range") %></div>
            </div>
        </div>
        <div class="m-auto py-1 justify-content-center row">
            <div class="px-0 mr-3 text-center col-5" style="flex: 0 0 auto;">
                <strong>Professor Rating</strong>
                <div class="mx-auto">Section <%= @course.checkIfBlank("section") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_professor_mean") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_professor_median") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-2">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_professor_standard_deviation") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_professor_mode") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_professor_range") %></div>
            </div>
        </div>
        <div class="m-auto py-1 justify-content-center row">
            <div class="px-0 mr-3 text-center col-5" style="flex: 0 0 auto;">
                <strong>Workload Rating</strong>
                <div class="mx-auto">Section <%= @course.checkIfBlank("section") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_workload_mean") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_workload_median") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-2">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_workload_standard_deviation") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_workload_mode") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND gut_index IS NOT NULL AND average_professor IS NOT NULL AND average_workload IS NOT NULL", "#{@course.season_code}").first.cleanOneStat("average_workload_range") %></div>
            </div>
        </div>
        <div class="m-auto pt-4 pb-1 justify-content-end row">
            <div class="px-0 me-3 text-center col-10" style="flex: 0 0 auto;">
                <h5> <%= @course.subject + " Subject Stats"%></h5>
                <hr>
            </div>
            
        </div>
        <div class="m-auto pb-1 justify-content-center row">
            <div class="d-flex justify-content-center px-0 mr-3 col-5"><span>Attribute</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Mean</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Median</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-2"><span>Standard Deviation</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Mode</span></div>
            <div class="d-flex ml-0 justify-content-center px-0 col-1"><span>Range</span></div>
        </div>
        <div class="m-auto mt-1 py-1 justify-content-center row">
            <div class="px-0 mr-3 text-center col-5" style="flex: 0 0 auto;">
                <strong><%= @course.subject%> Gut Index</strong>
                
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("gut_index_subject_mean") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("gut_index_subject_median") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-2">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("gut_index_subject_standard_deviation") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("gut_index_subject_mode") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("gut_index_subject_range") %></div>
            </div>
        </div>
        <div class="m-auto mt-1 py-1 justify-content-center row">
            <div class="px-0 mr-3 text-center col-5" style="flex: 0 0 auto;">
                <strong><%= @course.subject %> Prof Rating</strong>
                
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_professor_subject_mean") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_professor_subject_median") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-2">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_professor_subject_standard_deviation") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_professor_subject_mode") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_professor_subject_range") %></div>
            </div>
        </div>
        <div class="m-auto mt-1 py-1 justify-content-center row">
            <div class="px-0 mr-3 text-center col-5" style="flex: 0 0 auto;">
                <strong><%= @course.subject %> Workload Rating</strong>
            
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_workload_subject_mean") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_workload_subject_median") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-2">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_workload_subject_standard_deviation") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_workload_subject_mode") %></div>
            </div>
            <div class="px-1 ml-0 d-flex justify-content-center text-center col-1">
                <div><%= Course.where("season_code = ? AND subject = ? AND gut_percentile_subject IS NOT NULL AND professor_percentile_subject IS NOT NULL AND workload_percentile_subject IS NOT NULL", "#{@course.season_code}", "#{@course.subject}").first.cleanOneStat("average_workload_subject_range") %></div>
            </div>
        </div>
    </div>
    
</div>

<div class="row align-items-md-stretch">
      <div class="col-md-5">
        <div class="h-100 p-5 text-white bg-dark rounded-3">


        <!-- Button trigger modal -->
        <% if @course.user_reviewed?(session[:user_id]) %>
            <h3>Thanks for reviewing <%= @course.course_code %>!</h3>
            <hr>
            <h5 class="mt-1">Your Responses:</h5>
            <ul>
                <li>Is <%= @course.course_code %> a gut: <%= @course.get_review(session[:user_id], "is_a_gut")%></li>
                <li>Is <%= @course.course_code %> enjoyable: <%= @course.get_review(session[:user_id], "enjoyed_class")%></li>
                <% if @course.professor_names.include? ","%>
                    <li>Are <%= @course.professor_names %> a good Profs: <%= @course.get_review(session[:user_id], "good_prof")%></li>
                <% else %>
                    <li>Is <%= @course.professor_names %> a good Prof: <%= @course.get_review(session[:user_id], "good_prof")%></li>

                <% end %>
                <li>Is <%= @course.course_code %>'s workload manageable: <%= @course.get_review(session[:user_id], "good_workload")%></li>
            </ul>
        <% else %>
            <h3>Help Fellow Yalies Out: Submit a Review!</h3>
            <hr>
            <h5 class="mt-1"> All self-reported grades are completely anonymous</h5>
            <div class="px-0 mt-0 mb-3 col-md-5">
                <button type="button" class="btn btn-primary mt-2 ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Submit a User Review!
                </button>
            </div>
        <% end %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>User Submitted Stats (<%= @course.course_code %>)</h3>
          <hr>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                    <div class="card-body pb-4">
                        <h5 class="card-title">Average Grade</h5>
                        <h3 class="card-text"><%= Course.get_average_grade(@course.course_code)%></h3>
                        <p><%= Course.count_submitted_grades(@course.course_code) %> <%= "response".pluralize(Course.count_submitted_grades(@course.course_code)) %></p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gut</h5>
                        <h4 class="card-text"><%= Course.get_percent_yes("is_a_gut", @course.course_code)%></h4>
                        <p class="card-text mb-0 pb-0">say Yes</p>
                        <small style="font-size: .7rem">(<%= Course.count_review_val("is_a_gut", @course.course_code) %> <%= "response".pluralize(Course.count_review_val("is_a_gut", @course.course_code)) %>)</small>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enjoyed</h5>
                        <h4 class="card-text"><%= Course.get_percent_yes("enjoyed_class", @course.course_code)%></h4>
                        <p class="card-text mb-0 pb-0">say Yes</p>
                        <small style="font-size: .7rem">(<%= Course.count_review_val("enjoyed_class", @course.course_code) %> <%= "response".pluralize(Course.count_review_val("enjoyed_class", @course.course_code)) %>)</small>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dynamic-text">Good Prof</h5>
                        <h4 class="card-text dynamic-text"><%= Course.get_percent_yes("good_prof", @course.course_code)%></h4>
                        <p class="card-text mb-0 pb-0 dynamic-text">say Yes</p>
                        <small class="dynamic-text-sm">(<%= Course.count_review_val("good_prof", @course.course_code) %> <%= "response".pluralize(Course.count_review_val("good_prof", @course.course_code)) %>)</small>
                    </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dynamic-text">Good Workload</h5>
                        <h4 class="card-text dynamic-text"><%= Course.get_percent_yes("good_workload", @course.course_code)%></h4>
                        <p class="card-text dynamic-text mb-0 pb-0">say Yes</p>
                        <small class="dynamic-text-sm">(<%= Course.count_review_val("good_workload", @course.course_code) %> <%= "response".pluralize(Course.count_review_val("good_workload", @course.course_code)) %>)</small>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

<div class="m-auto row mt-3">
    <div class="px-0 my-0 col-md-5 justify-content-center">


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit User Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/courses/<%= @course.id%>/new_review" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="mb-3">
                    <label for="gut-question" class="col-form-label">Is <%= @course.course_code %> a gut?</label>
                    <select name="gut" class="form-select" id="gut-question" aria-label="Default select example">
                        <option selected></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="enjoyed-question" class="col-form-label">Is <%= @course.course_code %> enjoyable?</label>
                    <select name="enjoyed" class="form-select" id="enjoyed-question" aria-label="Default select example">
                        <option selected></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <% if @course.professor_names.include? ","%>
                        <label for="prof-question" class="col-form-label">Are <%= @course.professor_names %> good professors?</label>
                    <% else %>
                        <label for="prof-question" class="col-form-label">Is <%= @course.professor_names %> a good professor?</label>
                    <% end %>
                    <select name="prof" class="form-select" id="prof-question" aria-label="Default select example">
                        <option selected></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="work-question" class="col-form-label">Is <%= @course.course_code %>'s workload manageable?</label>
                    <select name="work" class="form-select" id="work-question" aria-label="Default select example">
                        <option selected></option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="grade-question" class="col-form-label">What grade did you receive for this class?</label>
                    <br>
                    <small class="my-2"><strong>This response is not associated with any user data</strong></small>
                    <select name="grade" class="form-select mt-2" id="grade-question" aria-label="Default select example">
                        <option selected>N/A</option>
                        <option value="1">A</option>
                        <option value="2">A-</option>
                        <option value="3">B+</option>
                        <option value="4">B</option>
                        <option value="5">B-</option>
                        <option value="6">C+</option>
                        <option value="7">C</option>
                        <option value="8">C-</option>
                        <option value="9">D+</option>
                        <option value="10">D</option>
                        <option value="11">D-</option>
                        <option value="12">F</option>
                    </select>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            

            
            
        </div>
    </div>
</div>