<!DOCTYPE html>
<html>
  <head>
    <title>Yuts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
          <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">    
  </head>

   <body>
      <div class="container-fluid ">
         <div class="row">
            <nav id="sidebarMenu" class="bg-white col-md-2 col-lg-1 pt-0 d-md-block sidebar collapse">
               <div class="position-sticky pt-2">
                  <div class="text-center justify-content-center">
                     <img src="/images/yuts-logo.png" style="max-width:80%; height: auto;">
                     <p class="px-auto logo dynamic-text-xl"><strong><em>YUTS</em></strong></p>
                  </div>
                  <div class="card text-center mt-3">
                     <div class="card-header py-3">
                        
                     </div>
                     <div class="card-body">
                        <p class="pb-2 border-bottom dymanic-text-xs">Advanced Search</p>
                        <form class="form-check form-switch p-0" action="/courses" method="GET">
                           <div class="btn-group dropend sort-dropdown mt-2">
                              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                 Sort By 
                              </button>
                              <ul class="dropdown-menu sort-list" id="sorter-list">
                                 <!-- Dropdown menu links -->
                                 <li class="dropdown-item active">Course Code</li>
                                 <li class="dropdown-item">Gut Index</li>
                                 <li class="dropdown-item">Overall Rating</li>
                                 <li class="dropdown-item">Professor Rating</li>
                                 <li class="dropdown-item">Work Rating</li>

             

                              </ul>
                           </div>
                           <div class="form-check form-switch mt-2">
                              <input name="guts_switch" class="form-check-input pe-0 me-0" type="checkbox" id="flexSwitchCheckDefault">
                              <span style="font-size: .75vw">Guts Only</span>
                           </div>
                        </form>
                        <%# <p class="card-text mt-3">Ratings are Coursetable ratings</p>
                        <p class="card-text mt-3">The Gut Index is similar to Rotten Tomatoes</p>
                        <p class="card-text mt-3">A higher Gut Index is better</p>
                        <p class="card-text mt-3">All ranks are percentiles</p>
                        <p class="card-text mt-3">A higher Gut Rank is better</p>
                        <p class="card-text mt-3">A higher Prof Rank is better</p>
                        <p class="card-text mt-3">A lower Work Rank is better</p>
                        <p class="card-text mt-3">Subject Ranks compare classes in the same subject</p>
                        <p class="card-text mt-3">The table header "#" denotes enrollment</p> %>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#faq">
                        FAQs
                        </button>

                     </div>
                     <div class="card-footer text-muted py-3">
                        
                     </div>
                  </div>
               </div>
            </nav>
            <main class="col-md-11 ms-sm-auto col-lg-11 px-md-4 ">
               <div id="title-container" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2" id="table-title" data-id="202103"><!-- dynamic catalog title --></h1>
                  <form class="d-flex" id='searchForm' style="width: 70vmin;">
                     <input id="searchBar" name="search" class="form-control me-2" type="search" placeholder="Search the catalog" aria-label="Search" >
                     <button class="btn btn-outline-primary me-2" type="submit">Search</button>
                  </form>
                  <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     Change Semester
                     </button>
                     <ul id="seasons-btn"class="dropdown-menu dropdown-scroll" aria-labelledby="dropdownMenuButton1">
                        <!-- dynamic seasons data -->
                      <% Course.getSeasons.each do |season| %>

                        <li class="season dropdown-item" data-id=<%= season %>><%= Course.season_to_str(season) %></li>
                      <% end %>
                     </ul>
                  </div>
               </div>
                  <table class="table table-striped table-sticky table-hover">
                     <thead id="table-head">
                        <tr>
                           <th scope="col">Code</th>
                           <th scope="col">Title</th>
                           <th scope="col">Prof</th>
                           <th scope="col">Gut Index</th>
                           <th scope="col">Guttiness</th>
                           <th scope="col">Gut Rank</th>
                           <th scope="col">Gut Subject Rank</th>
                           <th scope="col">Overall Rating</th>
                           <th scope="col">Prof Rating</th>
                           <th scope="col">Grading</th>
                           <th scope="col">Prof Rank</th>
                           <th scope="col">Prof Subject Rank</th>
                           <th scope="col">Work Rating</th>
                           <th scope="col">Workload</th>
                           <th scope="col">Work Rank</th>
                           <th scope="col">Work Subject Rank</th>
                           <th scope="col">#</th>
                           <th scope="col">Skills/Areas</th>
                        </tr>
                     </thead>
                     <tbody id="catalog-body" class="x-scroller">
                        <%= yield %>
                     </tbody>
                  </table>
               </div>
            </main>
         </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="faq" tabindex="-1" aria-labelledby="faqLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="faqLabel">FAQs</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
                  <div class="modal-body">
                     <h3>What is Yuts?</h3>
                     <p>
                        Yuts offers an effective method for Yalies to find courses both enjoyable and low workload, analyzing information from CourseTable and presenting it in an intuitive interface.
                     </p>
                     <h3>What is a Gut?</h3>
                     <p>
                        At Yuts, we define a Gut to be a class that is low workload, has a high overall rating, and is taught by a good professor. If a course meets these metrics as taken from CourseTable and has a higher than average subject gut rank, subject class rank, and subject professor rank, we label a class as a Gut.
                     </p>
                     <h3>Who Can Use Yuts?</h3>
                     <p>
                        All Yale students with a valid NetID can access Yuts. We use Google login and CAS Authentication since CourseTable (our data source) contains information not available to the general public.
                     </p>
                     <h3>What is the Gut Index?</h3>
                     <p>
                        The Gut Index is a 0-100 scale that attempts to determine the likelihood that a class is a Gut. This determination is made algorithmically using the ratio of total rating to workload, as well as a little statistical weighting.
                     </p>
                     <h3>How Does Ranking Work?</h3>
                     <p>
                        Ranking is done using the percentile a class, professor, or gut index is in comparison to all Yale classes listed for a semester. Percentiles are calculated using the mean of the percentage of classes less than and less than or equal to the class in any one qualifier.
                     </p>
                     <h3>How Does Subject Ranking Work?</h3>
                     <p>
                        Subject Ranking uses a percentile of all classes with the same course code as a given class. The logic behind this ranking is fairly simple—sometimes it isn’t fair to compare classes from different majors against each other. A CPSC class will be easier for some, whereas an ENGL class may be easier for others. Thus, the subject percentile attempts to eliminate the variability between classes by isolating comparison—allowing questions like what is the CPSC class with the heaviest workload, the PLSC with the best grader, or the guttiest ECON class to be answered.
                     </p>
                     <h3>What Does "Relatively" Mean for Class Difficulty?</h3>
                     <p>
                        The relative label is placed on class difficulties that are a bit of a conundrum--the class rank is not very high but the class has a low workload compared to classes in the same subject, or vice versa. Similarly, the “relatively average” label is used when a class has a high class rank but a low class subject rank, or vice versa.
                     </p>
                     <h3>What are the Scales of Guttiness, Class Difficulty, and Grader Difficulty?</h3>
                     <p>
                        A class can be labelled as gut, relaxed, average, challenging, or grueling in terms of guttiness; a prof can be labelled as a fantastic, great, average, tough, or harsh grader; a workload can be labeled as heavy, average, or light (with the qualifier relative in special cases).
                     </p>
                  </div>
               <div class="modal-footer">

               </div>
            </div>
         </div>
      </div>

   </body>
   
</html>

